<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<app-header class="mb-5"></app-header>

<!-- <div class="container my-5">


  <div class="row">

      <div class="col-md-6 col-sm-12">
          <img class="img-fluid details-img mt-5" src="{{getDetails.image ? getDetails.image :'' }}" alt="">
      </div>
      <div class="col-md-6 col-sm-12 description-container">
          <div class="main-description">
              <p class="product-category mb-0">Color: {{getDetails.color ? getDetails.color :'' }}</p>
              <h3 class="mt-2">{{getDetails.product ? getDetails.product :'' }}</h3>
              <p class="product-price">Price: {{getDetails.price ? getDetails.price :'' }}</p>



              <p class="product-title mt-4 mb-1">About this product</p>
              <p class="product-description mb-4">
                {{getDetails.description ? getDetails.description :'' }}
              </p>


              <form class="add-inputs" method="post">
                  <input type="number" class="form-control" id="cart_quantity" name="cart_quantity" value="1" min="1" max="10">
                  <button name="add_to_cart" type="submit" class="btn btn-primary btn-lg">Add to cart</button>
              </form>
              <form class="add-inputs" method="post">
                  <button name="add_to_cart" type="submit" class="btn btn-primary btn-lg">Add to Wishlist</button>
              </form>
              <div style="clear:both"></div>



          </div>




      </div>
  </div>
</div>  -->






<div class = "card-wrapper">
  <div class = "card">
    <!-- card left -->
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src = "{{getDetails.image ? getDetails.image :'' }}" alt = "image">
          <img src = "{{getDetails.image1 ? getDetails.image1 :'' }}" alt = "image">
          <img src = "{{getDetails.image2 ? getDetails.image2 :'' }}" alt = "image">
          <img src = "{{getDetails.image3 ? getDetails.image3 :'' }}" alt = "image">
        </div>
      </div>
      <div class = "img-select">
        <div class = "img-item">
          <a href = "#" data-id = "1">
            <img src = "{{getDetails.image1 ? getDetails.image1 :'' }}">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "2">
            <img src = "{{getDetails.image2 ? getDetails.image2 :'' }}" alt = "image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "3">
            <img src = "{{getDetails.image3 ? getDetails.image3 :'' }}" alt = "image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "4">
            <img src = "{{getDetails.image ? getDetails.image :'' }}">
          </a>
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 class = "product-title">{{getDetails.product ? getDetails.product :'' }}</h2>
      <!-- <a href = "#" class = "product-link">visit nike store</a> -->
      <div class = "product-rating">
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star-half-alt"></i>
        <span>4.7(21)</span>
      </div>

      <div class = "product-price">
        <p class = "last-price">Old Price: <span>{{getDetails.price_before ? getDetails.price_before :'' }}</span></p>
        <p class = "new-price">New Price: <span>{{getDetails.price ? getDetails.price :'' }}</span></p>
      </div>

      <div class = "product-detail">
        <h2>about this item: </h2>
        <p>{{getDetails.description ? getDetails.description :'' }}</p>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p> -->
        <ul>
          <li>Color: <span>{{getDetails.color ? getDetails.color :'' }}</span></li>
          <li>Available: <span>in stock</span></li>
          <li>Category: <span>{{getDetails.category ? getDetails.category :'' }}</span></li>
          <li>Shipping Area: <span>All over the world</span></li>
          <li>Shipping Fee: <span>Free</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        <form #getValue="ngForm" (ngSubmit)="getQuantity(getValue.value)">
        <input  value = "1" type = "number"  min = "1" ngModel name="value">
        <button type = "submit" class = "btn mt-2" (click)="addToCart()">
          Add to Cart <i class = "fas fa-shopping-cart"></i>
        </button>
        <!-- <button *ngIf="removeCart" type = "submit" class = "btn mt-2" (click)="removeToCart(getDetails.id)">
        Remove to Cart <i class = "fas fa-shopping-cart"></i>
        </button> -->
        <button type = "button" class = "btn mt-2">Compare</button>
      </form>
      </div>

      <div class = "social-links">
        <p>Share At: </p>
        <a href = "#">
          <i class = "fab fa-facebook-f"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-twitter"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-instagram"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-whatsapp"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-pinterest"></i>
        </a>
      </div>
      <div class="row questions bg-light p-3 mt-3 w-100" >
        <div class="col-md-1 icon mt-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </div>
        <div class="col-md-11 text">
            Have a question about our products at E-Store? Feel free to contact our representatives via live chat or email.
        </div>
    </div>

    <div class="delivery my-4">
        <p class="font-weight-bold mb-0"><span><svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
          <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>&nbsp;</span> <b>Delivery done in 3 days from date of purchase</b> </p>
        <p class="text-secondary">Order now to get this product delivery</p>
    </div>
    </div>
  </div>
</div>



<app-footer></app-footer>
