<app-header></app-header>
<!-- cart items details -->

<h2 style="text-align: center;" class="mt-3">Cart Page</h2>

<div class="small-container cart-page">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>

    <tr style="border-bottom: 1px solid black;"  *ngFor="let item of cartData">
      <td>
        <div class="cart-info">
          <img src="{{item.image}}" alt="" />
          <div>
            <p>{{item.product}}</p>
            <small>Price ₹ {{item.price}}</small>
            <br />
            <a href="#">Remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="{{item.value}}" /></td>
      <td>₹ {{item.price}}</td>
    </tr>
  </table>

  <div class="total-price mt-3">
    <table>
      <tr>
        <td>Subtotal</td>
        <td>₹ {{priceSummary.price}}</td>
      </tr>
      <tr>
        <td>Discount</td>
        <td>₹ {{priceSummary.discount}}</td>
      </tr>
      <tr>
      <tr>
        <td>Delivery</td>
        <td>₹ {{priceSummary.delivery}}</td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>₹ {{priceSummary.tax}}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>₹ {{priceSummary.total}}</td>
      </tr>
    </table>
  </div>
</div>

<app-footer></app-footer>

