<app-header></app-header>
<!-- carousel srction -->
<span *ngIf="popularProductsShop">
<ngb-carousel style="background-color: black;" *ngIf="popularProducts">
	<ng-template *ngFor="let product of popularProducts" ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="product-img" src="{{product.image}}" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>{{product.product}}</h3>
			<p>{{product.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>
</span>


<!-- product Section -->
<span *ngIf="trendyProductsShop">
<h3 class="mt-3 ml-5">Top Trending Products</h3>
<div class="product-container mt-3">
  <div class="product-card zoom" *ngFor="let item of trendyProducts">
    <img style="height: 25vh; width: 39vh;" src="{{item.image}}">
    <h3 class="product-name">{{item.product}}</h3>
    <p class="product-description p-3">{{item.description.length>100 ? item.description.slice(0,100)+"..." : item.description }}</p>
    <div class="product-price-name">Price:<span class="product-prices">{{item.price}}</span></div>
    <div>
      <button class="view-button" routerLink="/view/products/{{item.id}}">View More</button>
      &nbsp;
      <button class="add-to-cart-button">Add to Cart</button>
    </div>
  </div>
  </div>
</span>

  <app-footer></app-footer>

